{% extends "layouts/html5boilerplate.html" %}{% load i18n %}

{% comment %}
This is the base template for your app. Any values that need to be applied across
your entire app should go in here.
{% endcomment %}

{% block head %}
    {% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/base.css">
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block head_js %}{% endblock %}

	{# <link href="{% url rss %}" rel="alternate" type="application/rss+xml" title="Welcome" /> #}
{% endblock head %}

{% block meta-author %}Juice, Inc., Reston, Virginia{% endblock %}

{% block html_base %}
<div id="container">
    {% block messages_base %}{% block messages %}{% endblock messages %}{% endblock messages_base %}

    <header>
        {% block header_base %}{% block header %}{% endblock header %}{% endblock header_base %}
    </header>

    <div id="main" role="main">
        {% block content_base %}{% block content %}{% endblock content %}{% endblock content_base %}
    </div>

    <footer>
        {% block footer_base %}{% block footer %}{% endblock footer %}{% endblock footer_base %}
    </footer>

    {% comment %}
    {% block closure_base %}
        <!-- Change UA-XXXXX-X to be your site's ID -->
        {% include "blocks/analytics.html" %}
        {% block closure %}{% endblock %}
    {% endblock %}
    {% endcomment %}
</div>
{% endblock html_base %}

