# ignore everything under the parent directory
/*

# except for the following
!/djangoprojectskeleton/
!/help/
!/static/
!/media/
!/setup/
!/bin/
!/README.md
!.git*

# ignore all pyc files
*.pyc
.sass-cache/
.idea/


